version: "3.9"

services:
  db:
    image: postgres:15
    container_name: book_store_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: book_store_development
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: book_store_web
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: book_store_development

volumes:
  postgres_data:
